<div class="header">
    <a class="header__logo" href="/">
        <img src="/img/logo-con-tho-31.png" alt="logo-shop" class="header__logo-img">
    </a>
    <div class="header_categories">
        <div class="header_categories-content">
            <div class="header_categories-icon">
                <i class="ti-menu"></i>
            </div>
            <div class="header_categories-title">Danh mục <br> Sản Phẩm</div>
        </div>

    </div>

    <div class="header_find">
        <input type="text" placeholder="tìm sản phẩm mong muốn..." class="header_find-left">
        <div class="header_find-right">
            <i class="ti-search header_find-right-icon"></i>
            <p class="header_find-right-title">Tìm Kiếm</p>
        </div>
    </div>
    <div class="header_account--log-in--log-out">
        <div class="header_account--log-in--log-out__content">
            <div class="header_account--log-in--log-out__icon">
                <i class="ti-user"></i>
            </div>
            <div class="header_account--log-in--log-out-des">
                <p class="log-in_log-out">Tài Khoản</p>
                <p class="accout">Trần Thảo Nguyên</p>
            </div>
        </div>
        <!-- box login/logout -->
        <div class="header_account--log-in--log-out__box_page2">
            <ul class="header_account--log-in--log-out__box-list_page2">
                <li><a href="/product/create">đăng sản phẩm</a></li>
                <li><a href="/me/store/product">quản lí sản phẩm</a></li>
                <li><a href="/me/store/customer">danh sách khách hàng</a></li>
                <li><a href="/">đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container1">
    <div class="mt-4">
        <h3>danh sách khách hàng</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">số điện thoại</th>
                    <th scope="col">địa chỉ khách hàng</th>
                    <th scope="col">tên sản phẩm</th>
                    <th scope="col">hình ảnh</th>
                    <th scope="col">tổng tiền</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each cart}}
                <tr>
                    <th scope="row">{{ sum @index 1 }}</th>
                    <td>{{this.infoName}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.adress}}</td>
                    <td>{{this.name}}</td>
                    <td id="img" name="img">
                        <img class="imgIncart" src="{{this.img}}" alt="Card image cap">
                    </td>
                    <td>{{this.prince}}</td>
                    <td>
                        <a href="" class="" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-product-modal">xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa có khách hàng nào.

                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- confirm delete course--}}

    <div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa thông tin khách hàng này.</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-product-modal" type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

</div>


{{!-- delete Hident form --}}

<form name="delete-product-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var ProductId
        var deleteForm = document.forms['delete-product-form']
        var btnDeleteCourse = document.getElementById('btn-delete-product-modal')


        // when dialog confirm cliked
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            ProductId = button.data('id')
        })
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/' + ProductId + '?_method=DELETE'
            deleteForm.submit()
        }
    })
</script>